PORT=5000
DB_HOST=localhost
DB_PORT=5433
DB_NAME=ges_dev
DB_USER=ges_user
DB_PASSWORD=ges_dev
JWT_SECRET=your_super_secret_jwt_key
JOOBLE_API_KEY=your_jooble_api_key
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID_HERE

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
